<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="outer">

      <div class="hed">Golden State prepares for new president</div>
      <div class="chatter">California finds itself at odds with Trump on such issues as immigration, gun control and environmental protections. Click on the buttons below to explore the conflicting positions and how the state might oppose federal policies.</div>

      <div id="top"></div>

      <div class="button-container">
        <% csv.TrumpVCal.forEach(function(section,idx){ %>
          <% if (idx == 0) { %>
            <div class="button selected" id="button<%=section.slug%>"><%=section.topic%></div>
          <% } else { %>
            <div class="button" id="button<%=section.slug%>"><%=section.topic%></div>
          <% } %>
        <% }) %>
      </div>

      <% csv.TrumpVCal.forEach(function(section,idx){ %>

        <% if (idx == 0) { %>
          <div class="section-emma selected" id="section<%=section.slug%>">
        <% } else { %>
          <div class="section-emma" id="section<%=section.slug%>">
        <% } %>

          <div class="section-title"><%=section.topic%></div>

          <div class="inline-img">
            <img src="<%=section.photo%>">
            <div class="caption"><%=section.caption%> <span class="byline"><%=section.photographer%>, <%=section.photog_institution%></span></div>
          </div>

          <div class="sub-title">What Trump wants</div>
          <div class="sub-section"><%=section.trump%></div>

          <div class="sub-title">What California has</div>
          <div class="sub-section"><%=section.california%></div>

          <div class="sub-title">What could happen</div>
          <div class="sub-section"><%=section.opposition%></div>

          <div class="author">—  <%=section.author%>  &bull; <a href="mailto:<%=section.author_email%>"><%=section.author_email%></a>   &bull; <a href = "https://twitter.com/<%=section.author_twitter%>" target="_blank">@<%=section.author_twitter%></a></div>

        </div>

      <% }); %>

      <div class="scroll-button button" id="scroll">Scroll to top</div>

      <div class="divider"></div>

      <div class="credit-emma">
        <div class="entry">Interactive Producer: Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
      </div>


    </div>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
